body {
    background-color: green;
    max-width: 100%;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;

}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #d3d3d3;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}