.avatar-small{
    width:32px; 
    height:32px;  
}

.avatar-large{
    width:100px; 
    height:100px; 
}

.realisations:last-child hr {
    display: none;
}

.services:last-child hr {
    display: none;
}